## EDA portfolio for MMA Predictor

In [34]:
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sns

### Loading in fighter data

In [37]:
fighter_df = pd.read_csv('archive/preprocessed_data.csv')

## Lets understand which features make the most sense

In [41]:
fighter_df.head()

,Winner,title_bout,B_avg_KD,B_avg_opp_KD,B_avg_SIG_STR_pct,B_avg_opp_SIG_STR_pct,B_avg_TD_pct,B_avg_opp_TD_pct,B_avg_SUB_ATT,B_avg_opp_SUB_ATT,...,B_Stance_Open Stance,B_Stance_Orthodox,B_Stance_Sideways,B_Stance_Southpaw,B_Stance_Switch,R_Stance_Open Stance,R_Stance_Orthodox,R_Stance_Sideways,R_Stance_Southpaw,R_Stance_Switch
0,Red,False,0.000000,0.0,0.420000,0.49500,0.330,0.36000,0.500000,1.000000,...,0,1,0,0,0,0,1,0,0,0
1,Red,False,0.500000,0.0,0.660000,0.30500,0.300,0.50000,1.500000,0.000000,...,0,1,0,0,0,0,1,0,0,0
2,Red,False,0.015625,0.0,0.450000,0.42750,0.250,0.20000,0.148468,0.098389,...,0,1,0,0,0,0,0,0,1,0
3,Blue,False,0.015625,0.0,0.450000,0.42750,0.250,0.20000,0.148468,0.098389,...,0,0,0,1,0,0,0,0,0,1
4,Blue,False,0.125000,0.0,0.535625,0.57875,0.185,0.16625,0.125000,0.187500,...,0,1,0,0,0,0,1,0,0,0

In [63]:
#fighter_df["Winner_Red"] = fighter_df["Winner"].apply(lambda x: 1 if x == "Red" else 0)
#fighter_df.drop(columns = ['Winner'], inplace = True)

In [65]:
fighter_df.head()

,title_bout,B_avg_KD,B_avg_opp_KD,B_avg_SIG_STR_pct,B_avg_opp_SIG_STR_pct,B_avg_TD_pct,B_avg_opp_TD_pct,B_avg_SUB_ATT,B_avg_opp_SUB_ATT,B_avg_REV,...,B_Stance_Orthodox,B_Stance_Sideways,B_Stance_Southpaw,B_Stance_Switch,R_Stance_Open Stance,R_Stance_Orthodox,R_Stance_Sideways,R_Stance_Southpaw,R_Stance_Switch,Winner_Red
0,False,0.000000,0.0,0.420000,0.49500,0.330,0.36000,0.500000,1.000000,0.00,...,1,0,0,0,0,1,0,0,0,1
1,False,0.500000,0.0,0.660000,0.30500,0.300,0.50000,1.500000,0.000000,0.00,...,1,0,0,0,0,1,0,0,0,1
2,False,0.015625,0.0,0.450000,0.42750,0.250,0.20000,0.148468,0.098389,0.00,...,1,0,0,0,0,0,0,1,0,1
3,False,0.015625,0.0,0.450000,0.42750,0.250,0.20000,0.148468,0.098389,0.00,...,0,0,1,0,0,0,0,0,1,0
4,False,0.125000,0.0,0.535625,0.57875,0.185,0.16625,0.125000,0.187500,0.25,...,1,0,0,0,0,1,0,0,0,0

In [67]:
fighter_df.groupby("Winner_Red").mean()
fighter_df.corr()['Winner_Red'].sort_values(ascending = False)

Winner_Red                  1.000000
R_Weight_lbs                0.094686
B_Weight_lbs                0.087404
R_avg_TD_pct                0.085872
weight_class_OpenWeight     0.084536
                              ...
R_avg_opp_SIG_STR_landed   -0.144787
R_age                      -0.156431
R_losses                   -0.159319
B_draw                           NaN
R_draw                           NaN
Name: Winner_Red, Length: 160, dtype: float64